body{ 
background-color: #809BCE;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-box{ float:left;color: #003559; background-color: #E4C9B0; width: 600px; height: 300px; border: 3px solid #003559; border-radius: 30px; padding: 10px; margin: 10px; }
h1 { color: #002f4f; font-family: 'Courier New', Courier, monospace; font-weight: 900; font-style: italic; text-align: center; font-size: 60px }
h2 { color: #002f4f; font-family: 'Courier New', Courier, monospace; font-weight: 900; font-style: italic; text-align: justify; font-size: 23px }
nav{ text-align:center } 
.permission-box { float:left; color: #003559; background-color: #E4C9B0; width: 600px; height: 300px; border: 3px solid #003559; border-radius: 30px; padding: 10px; margin: 10px; }
.whospurli-box {float: right; color: #003559; background-color: #E4C9B0; width: 580px; height: 170px; border: 3px solid #003559; border-radius: 30px; padding: 10px; margin: 10px; }
.quotes-box { float: left; color: #003559; background-color: #e9c1e7; width: 600px; height: 200px; border: 3px solid #003559; border-radius: 30px; padding: 10px; margin: 10px; }
.hobbies { float:inline-start; color:#003559; background-color: #E4C9B0; width: 620px; height: 145px; border: 3px solid #003559; border-radius: 30px; padding: 10px; margin: 10px; }
.projects { float:right; color: #003559; background-color: #E4C9B0; width: 300px; height: 150px; border: 3px solid #003559; border-radius: 30px; padding: 10px; margin: 10px; }
.contact { float:right; color: #003559; background-color: #E4C9B0; width: 300px; height: 110px; border: 3px solid #003559; border-radius: 30px; padding: 10px; margin: 10px;  }
.gifbeyonce { float: left; border-radius: 30px; padding: 10px; margin: 10px}
.favourites { float:inline-start; color:#003559; background-color: #E4C9B0; width: 890px; height: 120px; border: 3px solid #003559; border-radius: 30px; padding: 10px; margin: 10px; }
.BlueIvy { float: right; margin: 10px; border-radius: 30px; padding: 10px;}
.GeorgeT { float:left }
.Beysilhouette { float:middle }
.Kimi { float: right }
.EnderPearl { float: right; border-radius: 30px; padding: 10px; margin: 10px}
.pics { float:left; background-color: #00000a; width: 900px; height: 200px; border: 3px solid #003559; border-radius: 30px; padding: 10px; margin-bottom: 10px; margin-top: 10px }
.beach { margin-top: 10px; margin-bottom: 10px; border-radius: 30px; padding: 10px; }
.endofwebsite  { float:left; color: #003559; background-color: #E4C9B0; width: 865px; height: 130px; border: 3px solid #003559; border-radius: 30px; padding: 10px; margin: 10px;  }
.byeee  { border-radius: 30px; padding: 10px; margin: 10px }
.nyc { float:right; border-radius: 30px; padding: 10px; margin: 10px }
.cali { float:right; border-radius: 30px; padding: 10px; margin: 10px }
.turtle { float: left; border-radius: 30px; padding: 10px; margin: 10px }
.surfboards { float: left; border-radius: 30px; padding: 10px; margin: 10px }